<ion-content [fullscreen]="true">
  <div class="container">
    <app-header
      [headerOptions]="headerOptions"
      (page)="page($event)"
    ></app-header>

    <ion-searchbar
      *ngIf="tasks.length > 0"
      animated="true"
      placeholder="Buscar tarea"
      [(ngModel)]="search"
    ></ion-searchbar>

    <div
      class="full-screen-div"
      *ngIf="tasks.length === 0"
      (click)="openModal(typeModal.TASK)"
    >
      <p>Crea tu primer tarea</p>
    </div>

    <div *ngFor="let task of tasks  | filterTasks:search">
      <app-todo-card
        [task]="task"
        (deleteTask)="deleteTask($event)"
        (completeTaks)="checkTask($event)"
      ></app-todo-card>
    </div>
  </div>
  <app-task-control (modal)="openModal($event)"></app-task-control>
</ion-content>

<ion-modal trigger="open-modal" (willDismiss)="confirm(true)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancelar</ion-button>
        </ion-buttons>
        <ion-title class="toolbar-title">{{currentModal}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <app-categories
        *ngIf="currentModal === typeModal.CATEGORY"
        (closeModal)="confirm(true)"
      ></app-categories>
      <app-tasks
        *ngIf="currentModal === typeModal.TASK"
        (closeModal)="confirm(true)"
      ></app-tasks>
    </ion-content>
  </ng-template>
</ion-modal>
